@model MvcPeople.Models.Interest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PossibleInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PossibleInterest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InterestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
